In [ ]:
ValorAcumuladoMensal = RendimentoMensal+aporte
print(ValorAcumuladoMensal)

101.14583333333333

In [ ]:
print("Este é o total após 1 dia")
RendimentoDiário = aporte*(selicaodia/100)
print(RendimentoDiário)

Este é o total após 1 dia
0.03767123287671233

In [ ]:
ValorAcumuladoDiario = RendimentoDiário+aporte
ValorAcumuladoDiario

100.03767123287672

In [ ]:
Colunas = ["Rendimento Anual", "Aporte Inicial", "Rendimento Mensal", "ValorAcumuladoMensal"]
df = pd.DataFrame(columns=Colunas)
df

Empty DataFrame
Columns: [Rendimento Anual, Aporte Inicial, Rendimento Mensal, ValorAcumuladoMensal]
Index: []

In [ ]:
X = [selic/100, aporte, RendimentoDiário, ValorAcumuladoDiario]
print(X)

[0.1375, 100.0, 0.03767123287671233, 100.03767123287672]

In [ ]:
df

Empty DataFrame
Columns: [Rendimento Anual, Aporte Inicial, Rendimento Mensal, ValorAcumuladoMensal]
Index: []

In [ ]:
to_append = X

In [ ]:
df_lenght = len(df)
df.loc[df_lenght] = to_append
df

   Rendimento Anual  Aporte Inicial  Rendimento Mensal  ValorAcumuladoMensal
0            0.1375           100.0           0.037671            100.037671

In [ ]:
i = 0
Y = [X[0],X[1]+RendimentoDiário,(aporte+RendimentoDiário)*selic/(100*365),ValorAcumuladoDiario+(aporte+RendimentoDiário)*selic/(100*365)]

In [ ]:
to_append = Y

In [ ]:
to_append = Y
df_lenght = len(df)
df.loc[df_lenght] = to_append
df

   Rendimento Anual  Aporte Inicial  Rendimento Mensal  ValorAcumuladoMensal
0            0.1375      100.000000           0.037671            100.037671
1            0.1375      100.037671           0.037685            100.075357

In [ ]:

for i in range (3):
    to_append = Y
    Y = [X[i],X[i+1]+RendimentoDiário,(aporte+RendimentoDiário)*selic/(100*365),ValorAcumuladoDiario+(aporte+RendimentoDiário)*selic/(100*365)]
    df_lenght = len(df)
    df.loc[df_lenght] = to_append
    i=i+1
i=0
df

   Rendimento Anual  Aporte Inicial  Rendimento Mensal  ValorAcumuladoMensal
0          0.137500      100.000000           0.037671            100.037671
1          0.137500      100.037671           0.037685            100.075357
2          0.137500      100.037671           0.037685            100.075357
3          0.137500      100.037671           0.037685            100.075357
4        100.000000        0.075342           0.037685            100.075357
5          0.137500      100.037671           0.037685            100.075357
6        100.000000        0.075342           0.037685            100.075357
7          0.037671      100.075342           0.037685            100.075357
8          0.137500      100.037671           0.037685            100.075357
9        100.000000        0.075342           0.037685            100.075357

In [ ]:
df

   Rendimento Anual  Aporte Inicial  Rendimento Mensal  ValorAcumuladoMensal
0            0.1375      100.000000           0.037671            100.037671
1            0.1375      100.037671           0.037685            100.075357
2            0.1375      100.037671           0.037685            100.075357
3            0.1375      100.037671           0.037685            100.075357

In [ ]:

#------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------#
taxaselic=(5.5/36500) #  ( 5.5/100 ) 365 para transformar de ano para dia
#Tabela regressiva do IR
Valoraplicado=float(input('Insira o valor aplicado'))                    
tempoaplicadoemdias=int(input('Insira o número de dias que o valor ficou aplicado'))

In [ ]:
IR1=22.5/100
IR2=20/100
IR3=17.5/100
IR4=15/100
IOF=1
#Estrutura condicional para estabelecer o cálculo do IR 
#para os dias que o valor ficou rendendo na SELIC
if ((tempoaplicadoemdias)<180):
    valorfinal = Valoraplicado + (Valoraplicado * tempoaplicadoemdias * IR1 * taxaselic)
    print(valorfinal)
if ((tempoaplicadoemdias)>180 and (tempoaplicadoemdias)<360):
    valorfinal = Valoraplicado + (Valoraplicado * tempoaplicadoemdias * IR2 * taxaselic)
    print(valorfinal)
if ((tempoaplicadoemdias)>180 and (tempoaplicadoemdias)<720):
    valorfinal = Valoraplicado + (Valoraplicado * tempoaplicadoemdias * IR3 * taxaselic)
    print(valorfinal)
if ((tempoaplicadoemdias)>(720)):
    valorfinal = Valoraplicado + (Valoraplicado * tempoaplicadoemdias * IR4 * taxaselic)
    print(valorfinal)